Repository mittelab/libspookyaction: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl, prepare docs image, build docs

Path conditions:
  build examples: (any of: libspookyaction/src/**/*, libspookyaction/include/**/*, libspookyaction/examples/**/*, tests/src/**/*, tests/test/**/*, tests/sdkconfig*, tests/include/**/*, tests/lib/**/*, cicd/platformio.ini) or (any of: cicd/*, .gitlab-ci.yml)
  test all examples have been built: (any of: libspookyaction/src/**/*, libspookyaction/include/**/*, libspookyaction/examples/**/*, tests/src/**/*, tests/test/**/*, tests/sdkconfig*, tests/include/**/*, tests/lib/**/*, cicd/platformio.ini) or (any of: cicd/*, .gitlab-ci.yml)
  test hardware mbedtls: (any of: libspookyaction/src/**/*, libspookyaction/include/**/*, libspookyaction/examples/**/*, tests/src/**/*, tests/test/**/*, tests/sdkconfig*, tests/include/**/*, tests/lib/**/*, cicd/platformio.ini) or (any of: cicd/*, .gitlab-ci.yml)
  test hardware wolfssl: (any of: libspookyaction/src/**/*, libspookyaction/include/**/*, libspookyaction/examples/**/*, tests/src/**/*, tests/test/**/*, tests/sdkconfig*, tests/include/**/*, tests/lib/**/*, cicd/platformio.ini) or (any of: cicd/*, .gitlab-ci.yml)
  prepare docs image: any of: docs/Dockerfile, .gitlab-ci.yml
  build docs: (any of: docs/**/*) or (any of: libspookyaction/src/**/*, libspookyaction/include/**/*, libspookyaction/examples/**/*, tests/src/**/*, tests/test/**/*, tests/sdkconfig*, tests/include/**/*, tests/lib/**/*, cicd/platformio.ini)

Handle openocd and gcov dump too
  cicd/requirements.txt
  cicd/ut-monitor.py
  tests/main.cpp
Due: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl

Handle errors and exit gracefully
  cicd/ut-monitor.py
Due: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl

Ensure openocd process terminates automatically
  cicd/ut-monitor.py
  test_spooky_cov.py
Due: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl

Add custom reporter
  tests/main.cpp
Due: none

Change report format
  tests/main.cpp
Due: none

Correctly log failed SAM activation channel
  tests/ut/facility.cpp
Due: none

Migrate away from legacy i2c implementation
  libspookyaction/include/pn532/esp32/i2c.hpp
  libspookyaction/src/pn532/esp32/i2c.cpp
  tests/ut/facility.cpp
Due: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl, build docs

Fix failure in activating i2c due to invalid argument
  libspookyaction/src/pn532/esp32/i2c.cpp
Due: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl, build docs

Fix incorrect address: needs 7 bits only
  libspookyaction/include/pn532/esp32/i2c.hpp
  libspookyaction/src/pn532/esp32/i2c.cpp
Due: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl, build docs

Build using ci/cd
  .gitlab-ci.yml
  cicd/sdkconfig.defaults
Due: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl, prepare docs image

Change image and update format script
  .gitlab-ci.yml
Due: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl, prepare docs image

Formatting
  libspookyaction/include/desfire/keys.hpp
  libspookyaction/src/desfire/keys.cpp
  tests/ut/facility.hpp
  tests/ut/helpers.hpp
Due: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl, build docs

Fix channel selection description
  tests/Kconfig
Due: none

Compatibility with 5.1.2
  tests/ut/facility.cpp
Due: none

Update with 5.1.2 ESP32S3 config
  cicd/sdkconfig.defaults
Due: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl

Take sdkconfigs out of git. Rearrange ignores
  .gitignore
  cicd/sdkconfig
  sdkconfig
  sdkconfig.defaults
Due: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl

Manage artifacts and flashing
  .gitlab-ci.yml
Due: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl, prepare docs image

Update platformio for building examples, and relative ci code [skip ci]
  .gitignore
  .gitlab-ci.yml
  cicd/platformio.ini
Due: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl, prepare docs image, build docs

Disable watchdog timer by default because it triggers
  cicd/sdkconfig
  libspookyaction/examples/sdkconfig.defaults
Due: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl, build docs

Update gcov script so that it collects the tests and dumps the coverage
  pytest_gcov.py
  test_spooky_cov.py
Due: none

Perform test in CI
  .gitlab-ci.yml
Due: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl, prepare docs image

Install pytest
  .gitlab-ci.yml
Due: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl, prepare docs image

cd to the test folder
  .gitlab-ci.yml
Due: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl, prepare docs image

Fix CS handling in spi [skip ci]
  libspookyaction/include/pn532/esp32/spi.hpp
  libspookyaction/src/pn532/esp32/spi.cpp
Due: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl, build docs

Simplify transaction flags calculation, move to accessory method
  libspookyaction/src/pn532/esp32/spi.cpp
Due: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl, build docs

Error-check on_receive_complete transaction
  libspookyaction/include/pn532/esp32/spi.hpp
  libspookyaction/src/pn532/esp32/spi.cpp
Due: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl, build docs

Allow PN532 ROM failure
  tests/ut/test_pn532.cpp
Due: none

Login before asking for card UID
  tests/ut/test_desfire_main.cpp
Due: none

ROM <-> RAM
  tests/ut/test_pn532.cpp
Due: none

Move dump_coverage to root
  pytest_gcov.py
Due: none

Add coverage report
  .gitlab-ci.yml
Due: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl, prepare docs image

Fix coverage report
  .gitlab-ci.yml
  README.md
Due: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl, prepare docs image

Damn yaml multiline
  .gitlab-ci.yml
Due: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl, prepare docs image

Add html report
  .gitignore
  .gitlab-ci.yml
Due: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl, prepare docs image

Goddamn yaml multiline and spaces x2
  .gitlab-ci.yml
Due: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl, prepare docs image

Update readme with link
  README.md
Due: none
