Repository mittelab/libspookyaction: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl, prepare docs image, build docs

Path conditions:
  build examples: (any of: libspookyaction/src/**/*, libspookyaction/include/**/*, libspookyaction/examples/**/*, tests/src/**/*, tests/test/**/*, tests/sdkconfig*, tests/include/**/*, tests/lib/**/*, cicd/platformio.ini) or (any of: cicd/*, .gitlab-ci.yml)
  test all examples have been built: (any of: libspookyaction/src/**/*, libspookyaction/include/**/*, libspookyaction/examples/**/*, tests/src/**/*, tests/test/**/*, tests/sdkconfig*, tests/include/**/*, tests/lib/**/*, cicd/platformio.ini) or (any of: cicd/*, .gitlab-ci.yml)
  test hardware mbedtls: (any of: libspookyaction/src/**/*, libspookyaction/include/**/*, libspookyaction/examples/**/*, tests/src/**/*, tests/test/**/*, tests/sdkconfig*, tests/include/**/*, tests/lib/**/*, cicd/platformio.ini) or (any of: cicd/*, .gitlab-ci.yml)
  test hardware wolfssl: (any of: libspookyaction/src/**/*, libspookyaction/include/**/*, libspookyaction/examples/**/*, tests/src/**/*, tests/test/**/*, tests/sdkconfig*, tests/include/**/*, tests/lib/**/*, cicd/platformio.ini) or (any of: cicd/*, .gitlab-ci.yml)
  prepare docs image: any of: docs/Dockerfile, .gitlab-ci.yml
  build docs: (any of: docs/**/*) or (any of: libspookyaction/src/**/*, libspookyaction/include/**/*, libspookyaction/examples/**/*, tests/src/**/*, tests/test/**/*, tests/sdkconfig*, tests/include/**/*, tests/lib/**/*, cicd/platformio.ini)

Bump version
  libspookyaction/library.json
Due: none

Use newer mittelib features [skip ci]
  libspookyaction/include/desfire/tag.hpp
  libspookyaction/include/pn532/channel.hpp
Due: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl, build docs

Move self-test method from scanner to controller
  libspookyaction/include/pn532/controller.hpp
  libspookyaction/include/pn532/scanner.hpp
  libspookyaction/src/pn532/controller.cpp
  libspookyaction/src/pn532/scanner.cpp
Due: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl, build docs

ISO/IEC 14443-3 compliancy of nfcid_3t when used as dep target
  libspookyaction/src/pn532/p2p.cpp
Due: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl, build docs

pn532_target: comply with PN532 and 14443-3 requirements
  libspookyaction/include/pn532/p2p.hpp
  libspookyaction/src/pn532/p2p.cpp
Due: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl, build docs

Use TRY macros from mittelib
  libspookyaction/include/desfire/fs.hpp
  libspookyaction/src/desfire/fs.cpp
Due: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl, build docs

Comply with stricter mlib requirements
  libspookyaction/src/pn532/controller.cpp
Due: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl, build docs

Fix: deleted ctor must be still marked explicit
  libspookyaction/include/desfire/data.hpp
Due: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl, build docs

Provide basic multi-thread support on Pn532
  libspookyaction/include/pn532/controller.hpp
  libspookyaction/src/pn532/controller.cpp
Due: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl, build docs

Timeout if it's not possible to acquire a lock
  libspookyaction/include/pn532/controller.hpp
  libspookyaction/src/pn532/controller.cpp
Due: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl, build docs

Bump Mittelib, fix test build
  tests/src/ut/test_desfire_fs.cpp
Due: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl, build docs

Rename concepts -> terminology
  docs/index.rst
  docs/terminology.rst
Due: build docs

Bump documentation versions
  docs/Dockerfile
  docs/requirements.txt
Due: prepare docs image, build docs

Docs: do not use groups, ignore to_string and operator<</>>
  docs/common_tasks.rst
  libspookyaction/include/desfire/crypto_algo.hpp
  libspookyaction/include/desfire/data.hpp
  libspookyaction/include/desfire/fs.hpp
  libspookyaction/include/desfire/keys.hpp
  libspookyaction/include/desfire/msg.hpp
  libspookyaction/include/desfire/tag.hpp
  libspookyaction/include/pn532/channel.hpp
  libspookyaction/include/pn532/data.hpp
  libspookyaction/include/pn532/esp32/i2c.hpp
  libspookyaction/include/pn532/msg.hpp
Due: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl, build docs

Use previous version of graphviz
  docs/Dockerfile
Due: prepare docs image, build docs

Docs: fix invalid refs
  libspookyaction/include/desfire/keys.hpp
  libspookyaction/include/pn532/scanner.hpp
Due: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl, build docs

Docs: change graphviz font
  docs/terminology.rst
  libspookyaction/include/desfire/tag.hpp
Due: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl, build docs

Fix library json
  libspookyaction/library.json
Due: none

Fix caching of build jobs
  .gitlab-ci.yml
Due: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl, prepare docs image

Bump alpine to 3.18
  docs/Dockerfile
Due: prepare docs image, build docs

Update sample
  tests/platformio.ini.sample
Due: none

Bump compiledb gen
  misc/gen-compiledb.py
Due: none

Update for compatibility with esp32s3
  libspookyaction/examples/app_desfire_demo.cpp
  libspookyaction/examples/app_scan_loop.cpp
  libspookyaction/examples/initialize.cpp
  libspookyaction/examples/scan_any_target_lowlev.cpp
  libspookyaction/examples/scan_desfire_lowlev.cpp
  libspookyaction/examples/self_test.cpp
  tests/src/ut/test_pn532.cpp
Due: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl, build docs

Collect settings that allow for tracing
  tests/sdkconfig-coverage.defaults
Due: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl, build docs

Add missing semicolon
  tests/src/ut/test_desfire_exchanges.cpp
  tests/src/ut/test_desfire_files.cpp
  tests/src/ut/test_desfire_fs.cpp
  tests/src/ut/test_desfire_main.cpp
  tests/src/ut/test_pn532.cpp
Due: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl, build docs

Attempt at building with esp idf
  .gitmodules
  .idea/vcs.xml
  tests/CMakeLists.txt
  tests/components/libspookyaction/CMakeLists.txt
  tests/components/main/CMakeLists.txt
  tests/components/mittelib/CMakeLists.txt
  tests/components/unity/CMakeLists.txt
  tests/sdkconfig
  tests/test/main.cpp
Due: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl, build docs

Turn off certain catch features
  components/catch/CMakeLists.txt
  components/catch/include/.gitignore
  components/catch/include/catch.hpp
Due: none

Fix catch import
  CMakeLists.txt
  components/catch/CMakeLists.txt
  components/catch/catch/.gitignore
  components/catch/catch/catch.hpp
Due: none

Restore sdkconfig.defaults and enlarge stack
  old/sdkconfig.defaults
  sdkconfig.defaults
Due: none

Remove stray files for CLion
  .idea/misc.xml
  .idea/vcs.xml
  misc/gen-compiledb.py
Due: none

Migrate to Catch
  tests/ut/test_desfire_ciphers.cpp
  tests/ut/test_desfire_ciphers.hpp
  tests/ut/test_desfire_exchanges.cpp
  tests/ut/test_desfire_exchanges.hpp
Due: none

Add WHOLE_ARCHIVE to include all tests
  tests/CMakeLists.txt
Due: none

Fix test: commands are consecutives, sections are not
  tests/ut/test_desfire_ciphers.cpp
Due: none

Enable exceptions
  components/catch/CMakeLists.txt
  components/catch/catch/catch.hpp
Due: none

Enlarge main partition
  .gitignore
  partitions.csv
  sdkconfig
Due: none

Convert pn532 tests
  tests/ut/test_pn532.cpp
  tests/ut/test_pn532.hpp
Due: none

Update sdkconfig.defaults
  .gitignore
  sdkconfig.defaults
Due: none

Add comparison operators for any_key
  libspookyaction/include/desfire/keys.hpp
  libspookyaction/src/desfire/keys.cpp
Due: build examples, test all examples have been built, test hardware mbedtls, test hardware wolfssl, build docs
