Repository mittelab/libspookyaction: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build hardware container, build examples, test hardware

Path conditions:
  build hardware container: any of: cicd/*, .gitlab-ci.yml
  build examples: (any of: src/**/*, include/**/*, examples/**/*, cicd/platformio.ini) or (any of: cicd/*, .gitlab-ci.yml)
  test hardware: (any of: src/**/*, include/**/*, examples/**/*, cicd/platformio.ini) or (any of: cicd/*, .gitlab-ci.yml)

Remove spaces in favor of = in the platformio file
  cicd/platformio.ini
Due: build hardware container, build examples, test hardware

Fix macro definition syntax in sample pltaformio ini
  platformio.ini.sample
Due: none

Fix missing channel_is_supported symbol
  src/test/main.cpp
  src/test/pn532_pinout.hpp
  src/test/test_pn532.cpp
  src/test/test_pn532.hpp
Due: build examples, test hardware

Ignore sdkconfigs generated by latest espidf
  .gitignore
Due: none

Rename project to libSpookyAction
  cicd/platformio.ini
  docs/doxigen.conf
  docs/src/concept.md
  docs/src/index.md
  docs/ut-session.log
  keycard-access.svg
  library.json
  platformio.ini.sample
  src/test/main.cpp
  src/test/pn532_pinout.hpp
  src/test/registrar.hpp
  src/test/test_desfire_ciphers.hpp
  src/test/test_desfire_exchanges.hpp
  src/test/test_desfire_files.hpp
  src/test/test_desfire_main.hpp
  src/test/test_pn532.hpp
  src/test/utils.hpp
  src/unittest_transport.h
Due: build hardware container, build examples, test hardware

Add logos
  misc/alternate_logos.svg
  misc/logo.png
  misc/logo.svg
Due: none

Use ESP_ERROR_CHECK where appropriate. This closes #10
  include/pn532/channel.hpp
  src/pn532/controller.cpp
  src/pn532/esp32/hsu.cpp
  src/pn532/esp32/i2c.cpp
  src/pn532/esp32/irq_assert.cpp
  src/pn532/esp32/spi.cpp
Due: build examples, test hardware

Formatting
  include/pn532/channel.hpp
  src/pn532/controller.cpp
Due: build examples, test hardware

Add library publish job
  .gitlab-ci.yml
  cicd/check_version.py
  library.json
Due: build hardware container, build examples, test hardware

Documentation
  include/desfire/cmac_provider.hpp
  include/desfire/crypto.hpp
  include/desfire/data.hpp
  include/desfire/esp32/crypto_impl.hpp
  include/pn532/channel.hpp
  include/pn532/data.hpp
  include/pn532/esp32/i2c.hpp
  include/pn532/esp32/spi.hpp
  src/desfire/cmac_provider.cpp
  src/desfire/crypto.cpp
  src/desfire/esp32/crypto_impl.cpp
Due: build examples, test hardware

Bump version of gen-compiledb.py and move
  gen-compiledb.py
  misc/gen-compiledb.py
Due: none

Bump version of check_version.py
  cicd/check_version.py
Due: build hardware container, build examples, test hardware

Reindent and bump version for next release
  library.json
Due: none

Rename doxigen->doxygen [skip ci]
  .gitlab-ci.yml
  docs/doxygen.conf
Due: build hardware container, build examples, test hardware

Drop excludes from library [skip ci]
  libspookyaction/library.json
Due: none

Drop SPOOKY_UNIT_TEST_MAIN [skip ci]
  cicd/platformio.ini
  tests/platformio.ini.sample
  tests/src/main.cpp
  tests/src/unittest_transport.h
Due: build hardware container, build examples, test hardware

Depend on local copy of libspookyaction [skip ci]
  cicd/platformio.ini
  tests/lib/libspookyaction
  tests/platformio.ini.sample
Due: build hardware container, build examples, test hardware

Move test -> ut to reflect namespace [skip ci]
  tests/src/main.cpp
  tests/src/ut/pn532_pinout.hpp
  tests/src/ut/registrar.cpp
  tests/src/ut/registrar.hpp
  tests/src/ut/test_desfire_ciphers.cpp
  tests/src/ut/test_desfire_ciphers.hpp
  tests/src/ut/test_desfire_exchanges.cpp
  tests/src/ut/test_desfire_exchanges.hpp
  tests/src/ut/test_desfire_files.cpp
  tests/src/ut/test_desfire_files.hpp
  tests/src/ut/test_desfire_main.cpp
  tests/src/ut/test_desfire_main.hpp
  tests/src/ut/test_pn532.cpp
  tests/src/ut/test_pn532.hpp
  tests/src/ut/utils.cpp
  tests/src/ut/utils.hpp
Due: none

Drop comments from cicd platformio.ini [skip ci]
  cicd/platformio.ini
Due: build hardware container, build examples, test hardware

Restore automated CI/CD [skip examples]
  .gitlab-ci.yml
  doxygen.conf
Due: build hardware container, build examples, test hardware

Update ignored folder list in idea project
  .idea/misc.xml
Due: none

Remove CONFIG_MBEDTLS_DES_C from compile flags and use sdkconfig instead. [skip examples]
  cicd/platformio.ini
  libspookyaction/examples/sdkconfig.defaults
  libspookyaction/library.json
  tests/platformio.ini.sample
  tests/sdkconfig.defaults
Due: build hardware container, build examples, test hardware

Switch all libspookyaction includes from "" to <> [skip examples]
  libspookyaction/src/desfire/cipher.cpp
  libspookyaction/src/desfire/cmac_provider.cpp
  libspookyaction/src/desfire/crypto.cpp
  libspookyaction/src/desfire/crypto_algo.cpp
  libspookyaction/src/desfire/data.cpp
  libspookyaction/src/desfire/esp32/crypto_impl.cpp
  libspookyaction/src/desfire/msg.cpp
  libspookyaction/src/desfire/tag.cpp
  libspookyaction/src/pn532/channel.cpp
  libspookyaction/src/pn532/controller.cpp
  libspookyaction/src/pn532/data.cpp
  libspookyaction/src/pn532/desfire_pcd.cpp
  libspookyaction/src/pn532/esp32/hsu.cpp
  libspookyaction/src/pn532/esp32/i2c.cpp
  libspookyaction/src/pn532/esp32/spi.cpp
  libspookyaction/src/pn532/msg.cpp
Due: none

Include sdkconfig.defaults in all examples [skip examples]
  libspookyaction/library.json
Due: none

Give meaningful message if the user forgets to enable DES on Mbedtls [skip examples]
  libspookyaction/src/desfire/esp32/crypto_impl.cpp
Due: none

Bugfix, release folder was incorrect
  .gitlab-ci.yml
Due: build hardware container, build examples, test hardware

Fix CI for examples
  .gitlab-ci.yml
Due: build hardware container, build examples, test hardware

Formatting
  libspookyaction/src/desfire/cipher.cpp
  libspookyaction/src/desfire/cmac_provider.cpp
  libspookyaction/src/pn532/channel.cpp
  libspookyaction/src/pn532/controller.cpp
  libspookyaction/src/pn532/esp32/i2c.cpp
  libspookyaction/src/pn532/esp32/spi.cpp
  libspookyaction/src/pn532/msg.cpp
  tests/src/main.cpp
Due: none

Bugfix, newline was not escaped when building examples
  .gitlab-ci.yml
Due: build hardware container, build examples, test hardware

Add README and use as a base for the documentation
  README.md
  docs/src/index.md
  doxygen.conf
Due: none

Modernize examples
  libspookyaction/examples/initialize.cpp
  libspookyaction/examples/select_tag.cpp
  libspookyaction/examples/selftest.cpp
Due: none

Bugfix, MbedTLS DES implementation guard requires a direct inclusion of sdkconfig
  libspookyaction/src/desfire/esp32/crypto_impl.cpp
Due: none

Examples update, do not redefine variables
  libspookyaction/examples/initialize.cpp
  libspookyaction/examples/platformio.ini
  libspookyaction/examples/select_tag.cpp
  libspookyaction/examples/self_test.cpp
  libspookyaction/library.json
Due: none

Update SPI and HSU channels to use the correct port typedef
  libspookyaction/include/pn532/esp32/hsu.hpp
  libspookyaction/include/pn532/esp32/spi.hpp
  libspookyaction/src/pn532/esp32/hsu.cpp
  libspookyaction/src/pn532/esp32/spi.cpp
  tests/src/ut/test_pn532.cpp
Due: none

Improve MBEDTLS C guard
  libspookyaction/include/desfire/esp32/crypto_impl.hpp
  libspookyaction/src/desfire/esp32/crypto_impl.cpp
Due: none

Update examples and fix examples CI
  .gitlab-ci.yml
  libspookyaction/examples/scan_any_target.cpp
  libspookyaction/examples/scan_desfire.cpp
  libspookyaction/examples/select_tag.cpp
  libspookyaction/examples/self_test.cpp
  libspookyaction/library.json
Due: build hardware container, build examples, test hardware

Add a complete Desfire demo example
  libspookyaction/examples/desfire_demo.cpp
  libspookyaction/library.json
Due: none

Update README (still had refs to mlab)
  README.md
Due: none

Improve user messages in examples.
  libspookyaction/examples/desfire_demo.cpp
  libspookyaction/examples/initialize.cpp
  libspookyaction/examples/platformio.ini
  libspookyaction/examples/scan_any_target.cpp
  libspookyaction/examples/scan_desfire.cpp
  libspookyaction/examples/self_test.cpp
Due: none
